<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container-xl mt-5 py-4 bg-light shadow-lg rounded">
  <div class="container-lg">
    <%- include('../partials/tableComponent',{...examsTable}) %>
  </div>
</main>
<div id="toggleContainer" class="float-end">
  <span><b>showing:</b> all </span>
  <label class="form-switch">
    <input class="form-check-input" type="checkbox" id="toggleSwitch">
    <span class="switch-icon"></span>
  </label>
  <span> mine</span>
</div>
<script>
  const myId = "<%= user.id %>";
  const toggleContainer = document.getElementById('toggleContainer');
  const toggler = document.getElementById('toggleSwitch');
  window.addEventListener('tableLoaded', e => {
    const handler = e.detail.handler;
    const cp = handler.table.querySelector('caption');
    // unchecked -> showing all, checked -> showing mine
    toggler.checked = handler.getOpts().url.match(/(?<=\?filter=)[^&]+|(?<=&filter=)[^&]+/) && handler.getOpts().url.match(/(?<=\?filterValue=)[^&]+|(?<=&filterValue=)[^&]+/) ? true : false;
    cp.appendChild(toggleContainer);
    toggler.addEventListener('click', evt => {
      // do not prevent default, current .checked state is what we want to upload table data with
      handler.table.dataset.page = '1';
      let updatedUrl;
      // Remove existing ?filter= or &filter= and ?filterValue or &filterValue string from the URL
      updatedUrl = handler.getOpts().url.replace(/(\?|&)(filter=)[^&]+/, '');
      updatedUrl = updatedUrl.replace(/(\?|&)(filterValue=)[^&]+/, '');
      if (toggler.checked) {
        // Add ?filterValue=myId&filter=examiner to the URL
        const separator = updatedUrl.includes('?') ? '&' : '?';
        updatedUrl += separator + 'filterValue=' + myId;
        updatedUrl += '&filter=examiner._id';
        handler.setCaption('My Examinations');
      }else{
        handler.setCaption('All Examinations');
      }
      handler.setOpts({
        url: updatedUrl,
        page: 1
      });
      handler.populateTable();
    });
  });
</script>
<%- include('../partials/footer') %>