<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container mt-5 py-4 bg-light shadow-lg rounded">
    Welcome home Field Doctor
    <%- include('../partials/tableComponent', {...patientsTable}); %>
    <% let patientsTable2 = {...patientsTable};
    patientsTable2.id = 'patients2';
    patientsTable2.fetchOptions.limit = 5; %>
    <%- include('../partials/tableComponent', {...patientsTable2}); %>
</main>
<%- include('../partials/footer') %>