<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container-xl mt-5 py-4 bg-light shadow-lg rounded">
  <div class="text-center mb-3">
    <h2>Field HCP - Home</h2>
  </div>
  <div class="container-lg">
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex flex-column">
                <a class="btn btn-primary mb-2" href="/portal/patients">New Exam</a>
                <a class="btn btn-primary mb-2" href="/portal/patients/new">New Patient</a>
                <a class="btn btn-primary mb-2" href="/portal/exams">Explore Consultations</a>
              </div>
        </div>
      <div class="col-md-4">
        <%- include('../partials/tableComponent', {...patientsTable}); %>
        <div class="float-end"><a href="/portal/patients">Go to patients</a></div>
      </div>
      <div class="col-md-6">
        <%- include('../partials/tableComponent', {...examsTable}); %>
        <div class="float-end"><a href="/portal/exams">Go to exams</a></div>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>